<form class='form-inline' {{action 'search' on='submit'}}>
  <div class='form-group'>
    {{input
      value=unitDimensions
      placeholder='Unit Dimensions'
      class='form-control'
      autocomplete='off'
      required=true
      autofocus=true
      key-up="postKey"
    }}
  </div>

  <div class='form-group'>
    {{input
      value=unitLocation
      placeholder='City'
      class='form-control'
      autocomplete='off'
      required=true
    }}
  </div>

  {{input
    type='submit'
    value='Search'
    disabled=loading
    class='btn btn-dark btn-dull'
  }}
</form>

{{#if cities}}
  <table>
  <caption><strong>Suggested Cities:</strong></caption>
    {{#each cities as |city| }}
    <tr>
      <td>{{city.city}}, {{ city.state }}</td>
      <td> <strong>{{ city.occurences }}</strong> rentals</td>
    </tr>
    {{/each}}
  </table>
{{/if}}
