{{#if errorLoadingData}}
  <div class='alert alert-danger'>{{errorMessage}}</div>
{{/if}}

{{#if currentRateData}}
  {{unit-graph
    monthlyData=currentRateData.firstObject.dataArray
    searchedLocation=searchedLocation
    searchedUnitSize=searchedUnitSize
  }}

  <div class='well'>
    <strong>Processing Time:</strong> {{currentRateData.firstObject.processingTime}}
    <strong>Rentals Processed:</strong> {{currentRateData.firstObject.numRentalsProcessed}}
  </div>
{{/if}}

{{currentRateData.id}}

<h2>Search</h2>
{{unit-data-search-form
  loading=loadingRateData
  currentRateData=currentUnitData.firstObject
  updateDataAction='updateCurrentRateData'
}}
